[submodule "fl_typing"]
	path = src/fl_typing
	url = git@github.com:MaddyGuthridge/fl_typing.git
[submodule "src/fl_param_checker"]
	path = src/fl_param_checker
	url = git@github.com:MaddyGuthridge/fl_param_checker.git
